extends layout

block content
  .restaurant
    .img-container
      img(src= resizer_url)
    .description
      h1= name
      div= price
    .contacts
      .area= area
      div= address
      div= `${city}, ${state} ${postal_code}`
      div= phone
